						#sidebar {
                              background-color: #2f5151;
                              width:20vw;
                              min-width:250px!important;
                              height:94vh;
                              border:none!important;
                              border-right:1px solid #eeeeee!important;
                              color:#ffffff!important;
                         }
                         .leaflet-popup-content-wrapper{
                              font-family: Lucida Console;
                              background-color:#477676;
                              color:#ffffff;
                              border:0.5px solid #222222;
                              max-height:250px;
                         }
                         .leaflet-popup-content{
                              max-height:200px;
                         }
                         #map{
                              border:1px solid #ffffff;
                         }
                         .leaflet-popup-tip{
                              background-color:#477676;
                              border:0.5px solid #222222;
                         }
                         .leaflet-popup-content-wrapper tr td:nth-child(2n+1){
                              color:#cccccc!important;
                              padding-right:10px!important;
                         }
                         .leaflet-popup-content-wrapper thead{
                              font-size:18px!important;
                         }
                         .row {
                              margin-left:-30px!important;
                         }
                         .well {
                              margin-bottom:0px!important;
                         }
                         body {
                              radial-gradient(ellipse at top, #477676, transparent),
                              radial-gradient(ellipse at bottom, #2a3c3c, transparent);
                              font-size:calc(12px + 0.1vw);
                         }
                         #plot{
                              margin-left:auto;
                              margin-right:auto;
                              margin-top:30px;
                         }
                         #scatter_plot{
                              margin-top: 30px; 
                              margin-left:auto;
                              margin-right:auto;
                              text-align: center; 
                         }
                         #scatter_input{
                              text-align:center;
                         }
                         .navbar-default {
                              background-color:#477676!important;
                              color:#ffffff!important;
                         }
                         .navbar-brand {
                              color:#ffffff!important;
                              font-weight:bold!important;
                              font-size:20px!important;
                              line-height: 30px!important;
                         }
                         .navbar .navbar-nav {
                              float: right;
                              background-color:#477676!important;
                         }
                         .navbar {
                              margin-bottom:0px!important;
                              height: 60px!important;
                         }
                         .navbar-nav>li>a {
                              background-color:#477676!important;
                              color:#eeeeee!important;
                              height: 59px!important;
                              line-height: 30px!important;
                         }
                         .navbar-nav li a:hover, .navbar-nav > .active > a {
                              color: #eeeeee!important;
                              background-color:#3a5959 !important;
                              background-image: none !important;
                         }
                         #mainpanel {
                              margin-top:20px;
                              min-width:900px!important;
                              width: 70vw;
                              color: #bbbbbb;
                              margin-left:-100px;
                         }
                         #dt_mainpanel{
                              margin-top:20px;
                              width: 1100px;
                              color: #bbbbbb;
                         }
                         #tabsetpanel a, #tabsetpanel_dt a{
                              color:#ffffff;
                              background-color:#444444;
                         }
                         #tabsetpanel a:hover,  #tabsetpanel a:active, #tabsetpanel a:focus, 
                         #tabsetpanel_dt a:hover, #tabsetpanel_dt a:active, #tabsetpanel_dt a:focus{
                              color:#ffffff;
                              background-color:#777777;
                         }
                         #dt_mainpanel{
                              margin-left:-100px;
                              width: 1050px;
                              color: #bbbbbb;
                         }
                         #dt_sidebar {
                              background-color: #2f5151;
                              width:20vw;
                              min-width:250px!important;
                              color:#ffffff!important;
                              height:94vh;
                              border:none!important;
                              border-right:1px solid #eeeeee!important;
                         }
                         #table {
                              color:#dddddd;
                         }
                         #table th{
                              color:#dddddd;
                              background-color:#477676;
                              border-right:1px solid #dddddd;
                         }
                         #table tr:nth-child(2n+1){
                              background-color:#cfe2e2;
                              color:#222222;
                         }
                         #table a{
                              color:#dddddd!important;
                              font-size: 0.4;
                         }
                         #table_dt{
                              color:#dddddd!important;
                         }
                         #table_dt label{
                              color:#dddddd!important;
                         }
                         .dataTables_info{
                              color:#dddddd!important;
                         }
                         #table_dt th{
                              color:#dddddd;
                              background-color:#477676;
                              border-right:1px solid #dddddd;
                         }
                         #table_dt tr:nth-child(2n+1){
                              background-color:#cfe2e2;
                              color:#222222;
                         }
                         #table_dt a{
                              color:#dddddd!important;
                              font-size: 0.4;
                         }
                         #show {
                              float:left;
                              margin-bottom:40px;
                         }
                         #download_csv {
                              float:left;
                              width:45%;
                              font-size:calc(9px + 0.1vw);
                         }
                         #download_gpkg {
                              float:right;
                              width:45%;
                              font-size:calc(9px + 0.1vw);
                         }
                         body, label, input, button, select { 
                              letter-spacing: -0.2px;
                         }
                         
                        
                         @media screen and (max-width: 600px){
                               
                               #sidebar {
                                     width:100vw;
                                     border-right:none!important;
                                     border-bottom:1px solid #eeeeee!important;
                                     height:100%;
                               }
                               #dt_sidebar {
                                     width:100vw;
                                     border-right:none!important;
                                     border-bottom:1px solid #eeeeee!important;
                                     height:30em!important;
                               }
                               #mainpanel, #dt_mainpanel {
                                     width:100vw!important;
                                     margin-left:8px!important;
                                     min-width:0!important;
                                      overflow-x: scroll!important;
                               }
                               .nav {
                                     margin-bottom:10px!important;
                               }
                               #instruction_1 {
                                     width:100vw!important;
                                     padding-left:30px;
                                     padding-right:15px;
                                     overflow-x: hidden!important; 
                               }
                               #instruction_2 {
                                     padding-left:30px;
                                     overflow-x: hidden!important; 
                                     text-align:justify!important;
                               }
                               .leaflet-control{
                                     margin:0px!important;
                               }
                               .legend, .leaflet-control-zoom, .leaflet-control-layers {
                                     transform:scale(0.8);
                               }
                               .leaflet-popup {
                                     font-size: 85%;
                               }
                               #scatter_plot, #plot {
                                     overflow-x: scroll!important;
                                     width:150vw!important;
                                     height:calc(150vw/1.6)!important;
                               }
                              h4 {
                              padding:10px;
                              }
                         }